/* ---------------Home Page Responsiveness ------------------------ */

@media only screen and (min-width: 1008px) and (max-width: 1200px) {
  div.navigation {
    width: 55%;
    padding-right: 25px;
  }
  div.navigation button {
    margin: 15px;
  }

  div.logo {
    width: 200px;
  }
  div.logo img {
    width: 100px;
    margin-top: 20px;
  }
  .frontpic {
    max-width: 85%;
  }
  .image {
    height: 22em;
  }
  .card {
    max-width: 23%;
  }
  .card .logoImage img {
    width: 5rem;
  }
  
  .section-4holder {
    margin-top: 20px;
  }
  .section-5 {
    background-attachment: scroll;
    height: 550px;
  }
  .section-5 h2 {
    font-size: 1.7em;
    padding-left: 10px;
  }
  .staffPicsHolder {
    top: 5px;
  }
  .staffpics {
    margin: 10px 20px;
    width: 25%;
  }
  .section-6 {
    padding: 40px;
  }
  .registerholder {
    font-size: 1.2em;
    max-width: 70%;
    padding: 15px 20px;
    margin-top: -130px;
  }
  div.btn button {
    padding: 5px 10px;
    font-size: 0.9em;
  }
  .footer iframe {
    height: 300px;
    max-width: 400px;
    text-align: justify;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1007px) {
  div.logo {
    left: 40px;
  }
  div.logo a img {
    width: 65px;
    margin-top: 14px;
  }
  div.navigation {
    display: none;
  }
  div.menubtn {
    display: block;
  }
  header {
    padding-left: 50px;
    background: transparent;
  }
  .hero-container {
    background-attachment: scroll;
  }
  .hero--text {
    padding-left: 40px;
    padding-right: 40px;
  }
  .section-1 {
    height: 350px;
    padding: 40px;
  }
  .aboutText > h2 {
    font-size: 1.7em;
  }
  .aboutText > p {
    font-size: 1em;
  }
  .section-2 {
    height: 380px;
    padding: 40px;
  }
  .image {
    height: 15em;
    width: 200%;
  }
  .section-2 > div > h2 {
    font-size: 1.7em;
  }
  .showcase {
    margin-top: 30px;
    max-width: 100%;
  }   
  .slider {
    width: 100%;
  }
  .section-3 {
    display: block;
    padding: 40px;
    background-attachment: scroll;
  }
  .card {
    max-width: 100%;
    margin-bottom: 40px;
  }
  .section-4 {
    height: 350px;
    padding: 0 50px;
  }

  section.section-4 h2 {
    font-size: 1.7em; 
  }
  .section-4holder {
    max-width: 100%;
    height: 15em;
  }
  .recip-text {
    font-size: 1.25em;
    line-height: 1.1;
  }
  .showcase {
    height: 300px;
  }
  .section-4holder button {
    padding: 7px 12px;
    font-size: 0.5;
    margin-top: 0px;
  }
  .imagerecip {
    background-position: -240px -100px;
  }
  .section-5 {
    background-attachment: scroll;
    height: 400px;
  }

  .section-5  .section h2 {
    margin-top: 20px;
  }
  
  .staffPicsHolder {
    top: 5px;
    margin-bottom: 30px;
  }

  .staffpics {
    margin: 20px 30px;
    width: 43%;
    
  }
  .section-6 .registerholder div.btn button {
    padding: 10px 15px;
    font-size: 1em;
  }
  .section-6 {
    background-color: var(--offwhite);
  }

  .section-6 .registerholder {
    max-width: 80%;
    margin: 0px;
    font-size: 1.2em;
    padding: 30px 50px;
  }
  .footer {
    padding: 0 40px 40px;
  }
  .footer iframe,
  .location {
    display: none;
  }
  .footer h3 {
    font-size: 1em;
  }
  .footer nav a {
    font-size: 0.9em;
    letter-spacing: 0;
    text-align: justify;
  }
}

@media only screen and (max-width: 640px) {
  div.logo {
    width: 100%;
/*     height: 300px; */
    left: 30px;
    margin-top: 20px;
  }
  
  div.logo a img {
    width: 70px;
    top: 0px;
  }

  header {
    display: none;
  }

  div#open.menubtnM {
    display: block;
    top: 15px;
    right: 15px;
  }
  
  div#close.menubtnM-close {
    top: 15px;
    right: 15px;
  }
  div#open.menubtn {
    display: block;
    top: 30px;
    right: 30px;
  }
  
  div#close.menubtn-close {
    top: 30px;
    right: 30px;
  }
  
  .menubtn i {
    font-size: 25px;
  }
  .hero-container {
    background-attachment: scroll;
    height: 100vh;
  }

  .hero--text {
    padding: 150px 30px;
    max-width: 100%;
  }
  div.hero--text h1 {
    font-size: 3.5em;
  }
  div.hero--text h3 {
    font-size: 1.7em;
  }
  div.hero--text p {
    font-size: 1.2em;
    line-height: 1.5;
  }
  div.hero--text button {
    padding: 10px 15px;
    font-size: 1.3em;
  }
  .section-1 {
    height: auto;
    padding: 20px 30px 10px;
  }
  .aboutpics {
    display: none;
  }
  .aboutText {
    max-width: 100%;
  }
  .section-1 .aboutText h2 {
    display: none;
  }
  .aboutText p {
    font-size: 1.2em;
    text-align: justify;
  }
  .section-2 {
    height: auto;
    padding: 0px 30px;
    font-size: 1em;
    background: #000;
  }
  .slider {
    width: 100%;
  height: 300px;
  }
  .slide {
   width: 10%;
    height: 100%;
  }

  .slide img {
    width: 100%;
    height: 100%;
  }

  #radio1:checked ~ .first {
    margin-left: 0;
}
#radio2:checked ~ .first {
    margin-left: -10%;
}
#radio3:checked ~ .first {
    margin-left: -20%;
}
#radio4:checked ~ .first {
    margin-left: -30%;
}
#radio5:checked ~ .first {
    margin-left: -40%;
}
#radio6:checked ~ .first {
    margin-left: -50%;
}
#radio7:checked ~ .first {
    margin-left: -60%;
}
  .section-2 > div > h2 {
    display: none;
  }
  .image {
    height: 10em;
    width: 250%;
  }
  
  .image:hover {
    transform: scale(1);
  }
  .section-3 {
    display: block;
    padding: 5px;
    background-attachment: scroll;
  }
  .card h2 {
    font-size: 1.3em;
  }
  .card {
    max-width: 100%;
    margin-bottom: 30px;
    font-size: 1em;
  }

  div.up{
    transform: translate(0);
  }

  .section-4 {
    width: 100%;
    height: 600px;
    padding: 0 30px;
    margin-bottom: 30px;
  }
  
  .section-4holder {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .section-4 .section h2 {
    display: none;
    /* font-size: 1.8em; */
  }

  .recipe-text {
    position: relative;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 30px;
    font-size: 0.9em;
    line-height: 1.3;  
}
  
.showcase-text {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.recipe-text p {
    position: relative;
    text-align: justify;
}
 
  div.recipe-text button {
    position: relative;
    font-size: 1.2em;
    width: 100%;
  }

  .imagerecip {
    background-position: center;
    background-size: auto;
    border-radius: 10px 10px 0 0;
  }
  
  .section-5 {
    padding: 30px 0;
    background-attachment: scroll;
    width: 100%;
    height: auto;
  }
  
  .section-5 .section h2 {
    display: none;
    font-size: 1.8em;
    margin: 0 0 10px 30px;
  }
  
  .section-5 p {
    font-size: 1.1em;
    line-height: 1.4;
  }
  
  .staffPicsHolder {
    display: flex;
    flex-direction: column;
    margin: 0px;
  }
  
  .staffpics {
    width: 50%;
    height: 100%;
    margin: 20px 0;
  }

  .staffpics:last-child{
    margin-bottom: 100px;
  }
  .section-6 {
    width: 100%;
    height: 70px;
    padding: 0;
  }
  .section-6 button {
    padding: 5px 20px;
  }
  .section-6 .registerholder {
    min-width: 100%;
    margin-top: 0;
    font-size: 1.1em;
    line-height: 1.4;
    padding: 0px 0px;
    border-radius: 0;
    padding: 30px;
    box-shadow: 0 0 0 0;
  }

  

  /* ==================== footer Responsiveness ====================== */
  footer.footer {
    width: 100%;
    padding: 100px 30px;
    margin-top: 10px;
    height: auto;
    overflow: hidden;
    display: block;
  }
  .footer iframe,
  .location {
    display: none;
  }
  .footer h3 {
    font-size: 1.1em;
  }
  .footer nav a {
    font-size: 1em;
    letter-spacing: 0;
    text-align: justify;
  }
  .footer nav a:hover,
  .footer nav p:hover {
    transform: translateX(0px);
  }
  .phoneNumber {
    font-size: 1em;
  }
  .email {
    font-size: 1em;
  }
    
 footer div.nav {
    width: 50%;
   float: left;
  }
  footer div.contact {
    width: 100%;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}

/* ----------------Menu responsiveness------------------- */
@media only screen and (min-width: 641px) and (max-width: 1007px) {

    .headline {
        font-size: 1.8em;
    }

    .category a {
        margin: 7px 30px;
    }

    .tags a {
        padding: 5px 20px;
    }
  }
  
  @media only screen and (max-width: 640px) {
    .headline {
        font-size: 1.5em;
    }
    
    div.left,  div.right {
        transform: translateX(0%);
    }
    #smoothies,#food, #drinks {
        margin-top: -70px;
    } 

    .menubtn {
        top: 15px;
    }

    .menubtn-close{
        top: 15px;
        right: 30px;
    }
    .category a {
        display: none;
    }

    .tags p {
        font-size: 25px;
    }
    .tags a {
        padding: 5px 10px;
        font-size: 20px;
    }

    .menu{
        display: block;
    }

    .menulist {
        width: 100%;
        margin-bottom: 30px;
    }
  }

  
/* ---------------Service Responsiveness------------------- */

@media only screen and (min-width: 1008px) and (max-width: 1200px) {
    .navigbtn {
        top: 15px;
        right: 10px;
      }
     .menubtn i {
        font-size: 25px;
     }


      div.logoS a img {
        width: 65px;
        margin-top: -12px;
        
      }
      
    .service-container .service-box {
        width: calc(50% - 50px);
        margin: 30px 0 20px;
    }

    .heading {
        top: 10px;
      }
  }

  .heading::after {
    margin-left: -10px;
  }

  div.heading h1 {
    font-size: 25px;
    margin-top: 15px;
  }
  
  @media only screen and (min-width: 641px) and (max-width: 1007px) {
    .navigbtn {
        top: 15px;
        right: 15px;
      }

      .menubtn i {
        font-size: 25px;
      }

      div.logoS a img {
        width: 60px;
        margin-top: 0px;
      }

    .service-container .service-box {
        width: calc(50% - 20px);
        margin: 20px 0;
        padding: 70px 20px 30px;
    }

    div.heading h1 {
        font-size: 25px;
        margin-top: 35px;
      }

    .service-box h2 {
        font-size: 3em;
        left: 20px;
        top: 70px;
    }

    .service-box:hover h2 {
        transform: translateY(-95%);
    } 

    .heading {
        top: 10px;
      }
  }
  
  @media only screen and (max-width: 640px) {
    .navigbtn {
        top: 15px;
        right: 15px;
      }

      div.logoS a img {
        width: 65px;
        margin-top: -10px;
        left: -35px;
        
      }

    .service-container {
        padding: 80px 0 20px;
    }
    .service-container .service-box {
        width: 100%;
        margin: -5px 0;
        padding: 70px 20px 25px;
    }

    .service-box h2 {
        font-size: 2.5em;
        left: 20px;
        top: 70px;
    }

    .service-box:hover h2 {
        transform: translateY(-110%);
    } 

    .heading {
        top: 80px;
      }
  }
  


