@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body {
  background: var(--gold);
}
div.mainBG {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 100px;
  background: var(--gold);
}

div.mainBG.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
    transition: 0.5s ease;
}

div.menuheader {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

:root {
  --header-text: 'Roboto', sans-serif;;
  --body-text: "Poppins", sans-serif;
  --black: #171717;
  --grey: #747474;
  --gold: #f6c91e;
  --lightgrey: #d0d0d0;
  --offwhite: #fafaec;
}

div.logoM a img {
  position: fixed;
  top: 5px;
  left: 20px;
  width: 60px;
  height: auto;
  border-radius: 20px;
  z-index: 1000;
}

.menubtnM {
    position: absolute;
    top: 15px;
    right: 50px;
    z-index: 100;
    color: var(--offwhite);
    display: block;
    z-index: 100;
    cursor: pointer;
  }
  
  .menubtnM i {
    font-size: 30px;
  }
  
  .menubtnM-close {
      position: absolute;
      top: 15px;
      right: 50px;
      z-index: 100;
      color: var(--offwhite);
      z-index: 100000000000000000000;
      display: none;
      cursor: pointer;
    }
    
    .menubtnM-close i {
      font-size: 30px;
    }

.category {
  height: 60px;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
}

.category a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.2em;
  margin: 7px 50px;
  color: var(--offwhite);
  letter-spacing: 1px;
  font-weight: bold;
  transition: border-bottom 0.1s ease;
  font-family: var(--header-text);
}

.category a:hover {
  border-bottom: 2px solid var(--gold);
}

.headline {
  position: relative;
  padding: 20px 70px;
  margin-top: 15px;
  font-size: 2em;
  font-weight: bold;
  font-family: var(--header-text);
  transition: all .5s ease;
  cursor: default;
}

#arrow-up {
    position: relative;
    font-size: 25px;
    font-weight: bold;
    color: var(--black);
    bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    animation: upArrow 2s ease-out infinite;
    cursor: pointer;
}
div#arrow-up a:hover,
div#arrow-up a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

@keyframes upArrow {
    
    100% {
        transform: translateY(-20%);
    }
}

.menu {
  position: relative;
  margin: 0 auto;
  width: 85%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 50px;
  justify-content: center;
  align-items: center;
  cursor: default;
  overflow-x: hidden;
}

#smoothies, #food, #drinks {
    margin-top: -100px;
}
.menulist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 10px var(--grey);
  border-radius: 4px;
  transform: scale(1);
  transition: transform 0.5s ease;
}

.menulist:hover {
  transform: scale(1.05);
}

.menupics {
  width: 100%;
  border-radius: 4px 4px 0 0;
}

.menupics img {
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
}

.tags {
    position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--black);
  border-radius: 0 0 4px 4px;
}

.tags::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2%;
    background: var(--gold);
}
/* .tags p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5%;
    background: var(--gold);
} */

.tags p {
  font-size: 1.2em;
  padding: 10px;
  font-family: var(--body-text);
  color: var(--offwhite);
}

.tags a {
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: var(--black);
  background: var(--offwhite);
  font-size: 1.2em;
  text-transform: uppercase;
  padding: 10px 50px;
  transform: scale(1);
  text-align: center;
  margin: 0 0 20px;
  transition: color 0.3s;
  font-family: var(--body-text);
  font-weight: bold;
  transition: width 0.5s linear;
  border-radius: 4px;
}

.tags a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: var(--gold);
  transition: width 0.2s linear;
  color: var(--black);
}

.tags a:hover::before {
  z-index: -1;
  width: 100%;
}

/* ------------------ footer ----------------- */
.footer {
    position: relative;
    background: var(--lightgrey);
    padding: 70px 10px 20px 80px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0 20px;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  
  .footer h3 {
    color: var(--grey);
    margin-bottom: 10px;
    font-family: var(--header-text);
  }
  
  .footer nav {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  
  .footer nav a {
    display: inline-block;
    margin: 10px 0;
    line-height: 20px;
    letter-spacing: 1px;
    text-decoration: 0;
    color: var(--grey);
    width: fit-content;
    transition: transform 0.7s ease;
    text-align: justify;
    font-family: var(--body-text);
  }
  
  .footer nav a:hover {
    border-bottom: 1px solid var(--gold);
  }
  
  .footer nav a:hover {
    transform: translateX(-25%);
  }
  
  footer nav p:hover {
    transform: translateX(-5%);
  }
  
  .footer h3 span {
    border-bottom: 2px solid var(--gold);
  }
  
  .footer nav span i {
    margin-right: 3px;
  }
  
  .footer nav p {
    color: var(--grey);
    margin: 7px 0;
    cursor: pointer;
    transition: transform 0.5s ease;
    font-family: var(--body-text);
  }
  
  .footer iframe {
    padding-top: 10px;
    transform: scale(1);
    transition: transform 0.5s ease;
  }
  
  .footer iframe:hover {
    transform: scale(1.05);
  }
  
  div.contact .contactlink a {
      border-bottom: 0;
  }
  
  div.contact .contactlink a:hover {
      transform: translateX(-2%);
  }
  
  .media {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .media a {
    display: flex;
    background: var(--offwhite);
    height: 35px;
    width: 35px;
    margin-right: 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
               -6px -6px 10px -1px rgba(225, 225, 225, 0.7);
    border: 1px solid rgba (0, 0, 0, 0);
    transition: transform 0.5s ease;
  }
  
  .media a i {
    font-size: 25px;
    color: #777;
    transition: transform 0.5s ease;
  }
  
  .media a:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
                inset -4px -4px 6px -1px rgba(225, 225, 225, 0.7),
                -0.5px -0.5px 0px rgba(225, 225, 225, 1),
                0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 
                0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba (0, 0, 0, 0.01);
    transform: translateY(2px);
  }
  
  .media a:hover i {
    transform: scale(0.9);
  }
  
  .media a:hover .fa-facebook {
    color: #3b5998;
  }
  
  .media a:hover .fa-instagram {
    color: #f14843;
  }
  
  .media a:hover .fa-whatsapp {
    color: #4fce5d;
  }
  
  .media a:hover .fa-twitter {
    color: #00acee;
  }
  
  .media a:hover .fa-youtube {
    color: #f00;
  }

  .copyright {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    font-family: var(--body-text);
    background: var(--black);
    color: var(--offwhite);
    cursor: default;
}
  


/* ===============Registration Form===================== */
/* containerDiv--------------- */
.container {
    position: fixed;
    top: 0px;
    left: 12%;
    z-index: 1000;
    width: 75%;
    height: auto;
    padding: 0px 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.9);
    color: var(--offwhite);
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
}

.container.active {
    top: 60px;
    visibility: visible;
    opacity: 1;
    transition: 0.5s ease;
}


/* container-title---------------- */
.title h2 {
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    font-family: var(--header-text);
    margin: 25px 0 0;
    text-align: center;
    text-transform: uppercase;
}

/* container form */
form .User-details{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* user-details .input-box------------- */
form .User-details .input-box{
    width: 60%;
    float: left;
    margin: 0 5px;
}

form .User-details .input-box:nth-of-type(2n - 1){
    width: 35%;
    float: left;
    margin: 0 10px;
}

/* user-details input-box .details */
div.input-box span {
    display: block;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    font-family: var(--body-text);
    margin: 20px 0 10px;
}

.User-details .input-box input{
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 15px;
    transition: all 0.3s ease;
    border: 0;
    outline: 0;
}

.User-details .input-box input:focus {
    border: 0;
    outline: 0;
}

div.gender {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

div.gender label, div.training label {
    font-size: 18px;
    font-family: var(--body-text);
    margin-top: 10px;
}

.gender input[type='radio'] {
    width: 15px;
    display: inline;
    vertical-align: middle;
    margin: 10px 10px 0 20px;
    
}

div.training {
    display: flex;
    align-items: center;
}

div.training select {
    margin: 10px 0 0 20px;
    width: 100%;
    border: 0;
    outline: 0;
    border-radius: 5px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
}

div.information {
    width: 96.5%;
    margin-top: 30px;
}

div.information  label {
    font-size: 18px;
    padding: 10px 20px;
}

textarea {
    margin: 10px 70px 20px 20px;
    max-width: 100%;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--body-text);
    border-radius: 5px;
}

textarea:focus {
    border: 0;
    outline: 0;
}


/* button--------------------- */
form .button{
    margin: 10px 15px 35px;
}

form .button button{
    height: 100%;
    width: 100%;
    outline: none;
    color: var(--offwhite);
    border: none;
    padding: 7px;
    margin-left: 5px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    text-transform: uppercase;
    background: linear-gradient(-135deg, #09ce09, #09ce09);
    transition: 0.5s ease;
    cursor: pointer;
}

form .button button:hover{
    background: linear-gradient(135deg, #1ce71c, #1ce71c);    
}

/*--------------- reactive menu boxes -------------------*/

div.right {
    transform: translateX(400%);
    transition: transform 1s ease;
}

div.left {
    transform: translateX(-400%);
    transition: transform 1s ease;
}

div.roll-in {
    transform: translateX(0);
}

#navtabs {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1000000000;
    background: var(--black);
    display: none;
}

#navtabs nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-top: 70px;
}

#navtabs nav a {
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-family: var(--body-text);
    font-size: 25px;
    font-weight: bold;
    display: block;
    text-align: center;
}

#navtabs nav a:hover {
    background: var(--gold);
}

.returnToTop {
    position: absolute;
    bottom: 0px;
    left: 50%;
    font-size: 30px;
    font-weight: bold;
    z-index: 1;
}
