* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --header-text: "Oswald", sans-serif;
    --body-text: "Poppins", sans-serif;
    --black: #171717;
    --grey: #747474;
    --gold: #f6c91e;
    --lightgrey: #d0d0d0;
    --offwhite: #fafaec;
  }

  body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(var(--black), var(--black) 50%, var(--offwhite) 50%, var(--offwhite) 100% );
  }

  .service-container.active {
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
    transition: 0.5s ease;
}

  div.logoS {
    position: fixed;
    top: 20px;
    left: 50px;
    z-index: 100000000;
    height: auto;
    width: 80px;
  }
  
  div.logoS a img {
    position: absolute;
    width: 80px;
    height: auto;
    border-radius: 20px;
    margin-top: 5px;
    z-index: 1000;
  }

  .heading {
    position: absolute;
    top: 100px;
    z-index: 1;
    font-size: 1em;
    color: var(--offwhite);
    font-family: var(--header-text);
    cursor: default;
  }

  .heading::after {
    content: "";
    position: absolute;
    left: 50px;
    width:50%;
    height: 2px;
    text-align: center;
    background: var(--gold);
    margin-top: 5px;
  }

  .menubtnS {
    position: absolute;
    top: 30px;
    right: 50px;
    color: var(--offwhite);
    z-index: 100;
    cursor: pointer;
  }
  
  .menubtnS i {
    font-size: 30px;
  }
  
  .menubtnS-close {
      position: absolute;
      top: 30px;
      right: 50px;
      color: var(--offwhite);
      z-index: 10000000000;
      display: none;
      cursor: pointer;
    }
    
    .menubtnS-close i {
      font-size: 30px;
    }

  .service-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .service-container .service-box {
    position: relative;
    width: 250px;
    height: auto;
    background: var(--offwhite);
    padding: 100px 20px 50px;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.5);
    transform: scale(1);
    transition: all .5s ease;
    cursor: default;
  }

  .service-container .service-box:hover {
    transform: translateY(-5%);
    transform: scale(1.05);
  }

  .service-container .service-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gold);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.5s;
  }

  .service-container .service-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3%;
    background: var(--gold);
  } 

  .service-container .service-box:hover::before {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
  }

  .service-box h2 {
    position: absolute;
    left: 15px;
    top: 70px;
    font-size: 4em;
    font-weight: bold;
    font-family: var(--header-text);
    z-index: 1;
    opacity: 0.2;
    transition: all 0.3s ease;
    user-select: none;
  }

  .service-box:hover h2 {
    transform: translateY(-60%);
    opacity: 1;
    color: var(--black);
    
  }

  .service-box h3 {
    position: relative;
    z-index: 2;
    font-size: 1.5em;
    color: var(--black);
    font-family: var(--body-text);
    font-weight: 700;
    user-select: none;
  }

  .service-box p {
    position: relative;
    z-index: 2;
    font-size: 1em;
    color: var(--black);
    font-family: var(--body-text);
    font-weight: 500;
    user-select: none;
  }

/* ===============Registration Form===================== */

/* containerDiv--------------- */

.container {
    position: fixed;
    top: 0px;
    left: 12%;
    z-index: 1000;
    width: 75%;
    height: auto;
    padding: 0px 20px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.9);
    color: var(--offwhite);
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease;
}

.container.active {
    top: 60px;
    visibility: visible;
    opacity: 1;
    transition: 0.5s ease;
}


/* container-title---------------- */
.title h2 {
    font-size: 1.5em;
    font-weight: bold;
    position: relative;
    font-family: var(--header-text);
    margin: 25px 0 0;
    text-align: center;
    text-transform: uppercase;
}

/* container form */
form .User-details{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* user-details .input-box------------- */
form .User-details .input-box{
    width: 60%;
    float: left;
    margin: 0 5px;
}

form .User-details .input-box:nth-of-type(2n - 1){
    width: 35%;
    float: left;
    margin: 0 10px;
}

/* user-details input-box .details */
div.input-box span {
    display: block;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    font-family: var(--body-text);
    margin: 20px 0 10px;
}

.User-details .input-box input{
    height: 30px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 15px;
    transition: all 0.3s ease;
    border: 0;
    outline: 0;
}

@media only screen and (min-width: 641px) and (max-width: 720px) and (orientation: landscape) {
 #navtabs nav a{
     font-size: 18px;
     padding: 15px;
 }
  #navtabs nav {
     padding: 10px;
     margin-top: 35px;
 }
 .menubtn, .menubtn-close {
     top: 15px;
     right: 12px;
 }
 .menubtn i, .menubtn-close i {
    font-size: 20px;
 }
 #navtabs nav .take-out {
    display: none;
 }
 .logoS {
    width: 40px;
    margin-left: 10px;
 }
 .container {
     display: none;
 }
 
 }

.User-details .input-box input:focus {
    border: 0;
    outline: 0;
}

div.gender {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

div.gender label, div.training label {
    font-size: 18px;
    font-family: var(--body-text);
    margin-top: 10px;
}

.gender input[type='radio'] {
    width: 15px;
    display: inline;
    vertical-align: middle;
    margin: 10px 10px 0 20px;
    
}

div.training {
    display: flex;
    align-items: center;
}

div.training select {
    margin: 10px 0 0 20px;
    width: 100%;
    border: 0;
    outline: 0;
    border-radius: 5px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    padding-left: 10px;
}

div.information {
    width: 96.5%;
    margin-top: 30px;
}

div.information  label {
    font-size: 18px;
    padding: 10px 20px;
}

textarea {
    margin: 10px 70px 20px 20px;
    max-width: 100%;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--body-text);
    border-radius: 5px;
}

textarea:focus {
    border: 0;
    outline: 0;
}


/* button--------------------- */
form .button{
    margin: 10px 15px 35px;
}

form .button button{
    height: 100%;
    width: 100%;
    outline: none;
    color: var(--offwhite);
    border: none;
    padding: 7px;
    margin-left: 5px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 5px;
    text-transform: uppercase;
    background: linear-gradient(-135deg, #09ce09, #09ce09);
    transition: 0.5s ease;
    cursor: pointer;
}

form .button button:hover{
    background: linear-gradient(135deg, #1ce71c, #1ce71c);    
}

  /* ---------------------------- navtabs ---------------------------- */
  
  #navtabs {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    z-index: 1000000000;
    background: var(--black);
    display: none;
}

#navtabs nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    margin-top: 70px;
}

#navtabs nav a {
    padding: 25px;
    text-decoration: none;
    color: #fff;
    font-family: var(--body-text);
    font-size: 25px;
    font-weight: bold;
    display: block;
    text-align: center;
}

#navtabs nav a:hover {
    background: var(--gold);
}
 .menubtn, .menubtn-close {
     top: 20px;
 }
 .menubtn i, .menubtn-close i {
    font-size: 20px;
 }




  
